Repository openshift-assisted/jira-unfurl-bot, pull requests merged in 2024-10, with the labels that each got.

#42 MGMT-19136: Migrate jira-unfurl-bot to Konflux
  .tekton/jira-unfurl-bot-saas-main-pull-request.yaml
  .tekton/jira-unfurl-bot-saas-main-push.yaml
  Dockerfile
  LICENSE
  build_deploy.sh
Labels: lgtm, size/L, jira/valid-reference, ok-to-test

#43 MGMT-19174: Add rpms-signature-scan to Konflux pipeline
  .tekton/jira-unfurl-bot-saas-main-pull-request.yaml
  .tekton/jira-unfurl-bot-saas-main-push.yaml
Labels: size/M, jira/valid-reference

#44 MGMT-19177: Update tekton pipelines' tasks to latest versions
  .tekton/jira-unfurl-bot-saas-main-pull-request.yaml
  .tekton/jira-unfurl-bot-saas-main-push.yaml
Labels: size/L, jira/valid-reference, ok-to-test
